        <footer>
            <div class="gutter">
                <small>© 2016 Pat Eason</small>
            </div>
        </footer>

        <!-- scripts !-->
        <script src="/vendor/jquery/dist/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
        <script src="/vendor/angular/angular.min.js"></script>
        <script src="/vendor/foundation-sites/dist/foundation.min.js">
            $(document).foundation();
        </script>
        <script src="/assets/js/app.js"></script>
    </body>
</html>